[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
req_extensions      = v3_req

[ req_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default = IN
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = Karnataka
localityName        = Locality Name (eg, city)
localityName_default = Bengaluru
organizationName    = Organization Name (eg, company)
organizationName_default = MyOrg
commonName          = Common Name (e.g. server FQDN or YOUR name)
commonName_default  = loginapp.renuka.com

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = loginapp.renuka.com
DNS.2 = *.renuka.com

